.screen-container{
    width: calc(100% - 100px);
    height: 100%;
    background-color:#ffffff2c;
    border-radius: 80px;
    background-color: #171717;
    opacity: 1;
    background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #171717 100px
    ),
    repeating-linear-gradient(#1e2a3e55, #ffffff2c);

}